/*global*/
body {
	font-family: 'Quicksand', sans-serif;
}

h1 {
	font-weight: 200;
}

h2 {
	font-weight: 200;
}

main {
	padding-top: 5em;
}

/*navbar*/
/*custom navbar toggler*/
.icon-bar {
	width: 1.5em;
	height: .15em;
	background-color: #444444;
	display: block;
	transition: all 0.5s;
	margin-top: .32em;
}
/*navbar toggler animation*/
.navbar-toggler {
	border: none;
	background: transparent !important;
}
.navbar-toggler:focus {
	outline: none;
}
.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 4.5% 20%;
}
.navbar-toggler .middle-bar {
	opacity: 0;
}
.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 4.5% 80%;
}
.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}

.myName {
	font-weight: 400;
	font-size: 1.5em;
	color: black;
}

/*about me section*/
.rounded{
	max-width: 70%;
}

/*portfolio dependent*/
.portfolio-section{
	background-color: #D3D8DE;
}

.gh-logo {
	height: 4.2em;
}

.li-logo {
	height: 4em;
}

.fancybox-hidden {
	display: none;
}

.rounded-circle {
	height: 230px;
	width: 230px;
}

/*modal*/
.modal-body {
	background-color: #474747;
}

.modal-footer {
	background-color: #474747;
}

.modal-backdrop.show {
	opacity: 0.9;
}

.fa-times-circle {
	color: #D3D8DE;
	font-size: 2em;
}


/*contact form*/
.btn-warning {
	background-color: #f0ac49;
	border-color: #ee9a32;
	/*width: 5em;*/
}

.btn-success {
	color: black;
	/*width: 5em;*/
}

/*footer*/
.page-footer {
	background-color: black;
	font-size: 0.7em;
}

.footer-icon {
	height: 4.5em;
}


