body {
	font-family: 'Open Sans', sans-serif;
}

.btn-warning {
	background-color: #f0ac49;
	border-color: #ee9a32;
	width: 5em;
}

.btn-success {
	color: black;
	width: 5em;

}

.myName {
	font-weight: 100;
	font-size: 1.5em;
}

h1 {
	font-weight: 100;
}

.page-footer {
	background-color: black;
}

.topbar {
	background: linear-gradient(rgba(123,124,124,1) 0%, rgba(163,164,164,1) 100%, rgba(218,218,218,1) 100%);
}



/*custom navbar toggler*/
.icon-bar {
	width: 28px;
	height: 3px;
	background-color: #4d4d4d;
	display: block;
	transition: all 0.2s;
	margin-top: 5px
}

.navbar-toggler {
	border: none;
	background: transparent !important;
}

/*navbar toggler animation*/
.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
	opacity: 0;
}

.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}
