# this forces SSL connection
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://judeamiller.com/$1 [L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^judeamiller.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.judeamiller.com$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]